%h2= ViewData.Product.ProductName
%form{action=Url.Action(new { Action="Update", ID=ViewData.Product.ProductID }), method="post"}
  %table
    %tr
      %td Name:
      %td= Html.TextBox("ProductName", ViewData.Product.ProductName)
    %tr
      %td Category:
      %td= Html.Select("CategoryID", ViewData.Categories, ViewData.Product.CategoryID)
    %tr
      %td Supplier:
      %td= Html.Select("SupplierID", ViewData.Suppliers, ViewData.Product.SupplierID)
    %tr
      %td Unit Price:
      %td= Html.TextBox("UnitPrice", ViewData.Product.UnitPrice)
  %p
  _ Button